img {
  margin-bottom: 10px;
  border: 1px solid #e7e7e7;
}
.navbar img {
  border: none;
}
.submissions-grid img {
  width: 100px;
}
.delete-buttons {
  margin-top: 20px;
}
.content-photos {
  padding-bottom: 0;
}
.content-photos img {
  margin-bottom: 40px;
}
.content-photos-list,
.content-galleries,
.content-submissions {
  margin-top: -25px;
}
.photos-grid td, .photos-grid th,
.submissions-grid td, .submissions-grid th {
  text-align: center;
}
h3 {
  margin-top: 20px;
}
h2 {
  margin-bottom: 60px;
}
.home-page {
  margin-top: 0;
  margin-bottom:  100px;
}
.home-page h3:first-child {
  margin-top: -10px;
}
.home-page img {
  border: none;
}
.photos-index-page {
  margin-top: 60px;
  margin-bottom: 200px;
}

.submissions-index-page,
.job-log-page,
.photos-show-page,
.photos-listing-page,
.galleries-show-page,
.galleries-index-page,
.photos-edit-page,
.submissions-add-page,
.submissions-show-page,
.submissions-edit-page {
  margin-bottom: 120px;
}
.login-page,
.photos-add-page,
.galleries-add-page,
.photos-delete-page,
.galleries-edit-page,
.galleries-delete-page,
.submissions-delete-page {
  margin-bottom: 200px;
}
